.container {
  padding-bottom: 128px;
}

.blockImage {
  width: 100%;
  height: 100%;
}

.blockHeading {
  font-size: clamp(28px, 5vw, 36px);
  font-weight: 700;
  color: #232536;
  margin-bottom: 16px;
}

.blockSubheading {
  font-size: clamp(20px, 5vw, 24px);
  font-weight: 700;
  color: #232536;
  margin-bottom: 16px;
}

.blockText {
  font-size: 16px;
  font-weight: 400;
  color: #232536;
}

.teamRow {
  padding-bottom: 128px;
}

@media (max-width: 600px) {
  .teamRow {
    padding-bottom: 25px;
  }
}
