.articleContainer {
  padding: 128px 0;
}

.authorImage {
  margin-right: 16px;
}

.authorContainer {
  margin-bottom: 24px;
}

.articleTitle {
  margin-bottom: 34px;
  font-size: clamp(32px, 5vw, 48px);
  color: #232536;
  font-weight: 700;
}

.authorName {
  font-size: clamp(22px, 5vw, 28px);
  font-weight: 700;
  color: #592ea9;
  margin-bottom: 0;
}

.articleDate {
  color: #6d6e76;
  font-size: 16px;
  font-weight: 400;
}

.categoryName {
  font-size: clamp(18px, 5vw, 24px);
  color: #232536;
  font-weight: 700;
  margin-bottom: 0;
}

.articleImage {
  width: 100%;
  height: 100%;
}

.articleImageContainer {
  margin: 64px 0;
}

.markdownContainer h2 {
  font-size: clamp(28px, 5vw, 36px);
  color: #232536;
  font-weight: 700;
  margin-bottom: 16px;
}

.markdownContainer p {
  font-size: 16px;
  color: #6d6e76;
  font-weight: 400;
}

.markdownContainer li h4 {
  font-size: clamp(18px, 5vw, 24px);
  font-weight: 700;
  color: #161722;
}

.markdownContainer li:last-child {
  margin-bottom: 24px;
}
