.container {
  padding-bottom: 128px;
}

.heroRow {
  background-color: #f4f0f8;
  padding-top: 128px;
  padding-bottom: 80px;
}

.heroTitle {
  font-size: clamp(32px, 5vw, 56px);
  font-weight: 700;
  color: #232536;
  margin-bottom: 16px;
}

.heroDescription {
  color: #6d6e76;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}

.heroLink,
.heroLink a {
  color: #232536;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.articleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageContainer {
  margin-bottom: 32px;
  height: 300px;
}

.articleContainer {
  padding-top: 128px;
}

.categoryTitle {
  color: #592ea9;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.articleTitle {
  color: #232536;
  font-size: clamp(28px, 5vw, 36px);
  font-weight: 700;
  margin-bottom: 16px;
}

.articleText {
  color: #6d6e76;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 38px;
}

.categoryIcon {
  width: 100%;
  height: 100%;
}

.categoryIconBg {
  background-color: #fbf6ea;
  padding: 12px;
  width: fit-content;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.categoryItemsContainer {
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid #c1c1c3;
  cursor: pointer;
}

.categoryItemsName {
  color: #232536;
  font-size: clamp(20px, 5vw, 28px);
  font-weight: 700;
}

.categoryHeading {
  font-size: clamp(28px, 5vw, 36px);
  font-weight: 700;
  color: #232536;
  margin-bottom: 40px;
}
