.container {
  padding-bottom: 128px;
}

.heroRow {
  background-color: #f4f0f8;
  padding-top: 128px;
  padding-bottom: 80px;
}

.heroTitle {
  font-size: clamp(32px, 5vw, 56px);
  font-weight: 700;
  color: #232536;
  margin-bottom: 16px;
}

.heroDescription {
  color: #6d6e76;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}

.heroLink,
.heroLink a {
  color: #232536;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
