.container {
  padding: 128px 0;
}

.mainContent pre {
  font-family: "Sen", sans-serif;
}

.infoBlockContainer {
  padding: 48px 64px;
  background-color: #592ea9;
  margin-bottom: 32px;
}

.heroContainer {
  margin-bottom: 64px;
  text-align: center;
}

.heroTitle {
  font-size: 16px;
  font-weight: 700;
  color: #232536;
  margin-bottom: 12px;
}

.mainHeading {
  font-size: clamp(32px, 5vw, 48px);
  font-weight: 700;
  color: #232536;
  margin-bottom: 24px;
}

.heroDescription {
  color: #6d6e76;
  font-weight: 400;
  font-size: 16px;
}

.blockTitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.mainContent {
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 700;
  color: #fff;
}

.subContent {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.formInput {
  padding: 24px;
  border-radius: 0;
  color: #232536;
  font-size: 16px;
}

.formInput::placeholder {
  color: #232536;
  font-size: 16px;
}

.submitBtn {
  padding: 16px 0;
  color: #232536;
  font-size: clamp(18px, 5vw, 24px);
  font-weight: 700;
  background-color: #ffd050;
  border-radius: 0;
  display: block;
  width: 100%;
}
